export JAVA="{{ java_bin_file_path }}"
export ZOO_LOG_DIR="{{ zookeeper_log_directory }}"
export CLASSPATH="{{ zookeeper_jvm_classpath }}"
export ZOO_LOG4J_PROP="{{ zookeeper_jvm_root_logger }}"
export JVMFLAGS="{{ zookeeper_jvm_flags }}"
